services:

  audiobooker-both:
    #build: .
    #profiles: [both]
    image: suddenche/priv:audiobooker-main-latest
    environment:
      MODE: both
      BOT_TOKEN: ${BOT_TOKEN}        # задать в .env или окружении
      VOICE: ru-RU-SvetlanaNeural
      SPEED: +18%
      CHUNK_SIZE: "10000"
      MAX_CONCURRENT_TASKS: "40"
      FFMPEG_PATH: ffmpeg
      MERGE_CHUNKS: "true"
      MAX_TEXT_FROM_MESSAGE: "50000"
      WEB_HOST: 127.0.0.1
      WEB_PORT: "8000"
    ports:
      - "127.0.0.1:8000:8000"
    restart: unless-stopped
