name: Docker Image CI

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

jobs:
  # 1. Build and Push to Docker Hub
  docker:
    name: Docker Build & Push
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: ${{ github.event_name == 'push' }}
          tags: |
            suddenche/priv:audiobooker-${{ github.ref_name }}-latest
          platforms: linux/amd64
          cache-from: type=gha
          cache-to: type=gha,mode=max

  # 2. Deploy using Docker Context over SSH
  deploy:
    name: Deploy to Server
    needs: [docker]
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install SSH Key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_KEY }}
          known_hosts: unnecessary
          if_key_exists: fail

      - name: Add Known Hosts
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan -H ${{ secrets.SSH_HOST }} >> ~/.ssh/known_hosts

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Deploy with Docker Context
        env:
          DOCKER_HOST: ssh://root@${{ secrets.SSH_HOST }}
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
        run: |
          # Use the remote context via env variable
          docker compose pull
          docker compose up -d audiobooker-both
          docker system prune -f # Clean up old images
